[submodule "hotline-data"]
	path = hotline-data
	url = https://github.com/polymonster/hotline-data.git
[submodule "crates/htwv/third_party/SPIRV-Cross"]
	path = crates/htwv/third_party/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
